h1,h3, figcaption{
    font-family: 'Oswald',Verdana,Arial,sans-serif;   
    font-weight: 400;
    color: rgba(185,63,8);

}

figcaption{
    font-style: italic;
    font-size: .75em;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

#image-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
}

img{
    height: 350px;
    width: 400px;
}

.image-container{
    text-align: center;
    border-style: solid;
    border-radius: 15px;
    padding: 5px;
    border-color: rgba(185,63,8);
}

body{
    background-color: rgba(247,112,24,0.2);
}